main .cover { 
    padding: 70px;
    @media screen and (max-width: 768px) { padding: 50px; }
    .CTA { width: 100%;
        p { margin: 0; }
        h1 { font-size: 60px; margin: 0 0 20px 0; line-height: 1;
            @media screen and (max-width: 900px) { font-size: 50px; }
            @media screen and (max-width: 768px) { font-size: 40px; }
        }
    }
}

